<div class="content">
	<div class="bio" style="border-right:1px solid #333;">
		<div class="photo"></div>
		<span class="name" ng-bind="profile.firstName + ' ' + profile.lastName"></span>
		<div class="create-post" ng-show="user.id">
			<div class="text-holder" ng-class="{ 'empty' : createPostText }">
				<textarea ng-model="createPostText" ng-trim="false"></textarea>
			</div>
			<div class="menu">
				<div class="photo btn"></div>
				<div class="attachment btn"></div>
				<div class="event btn"></div>
			</div>
			<div class="send btn" ng-click="post()"></div>
		</div>
	</div>
	<div class="userposts">
		<ul>
			<li class="post" ng-repeat="post in posts">
				<div>
					<span ng-bind="post.content"></span>
				</div>
			</li>
		</ul>
	</div>
</div>