<div class="top-bar" ng-controller="NavBarCtrl">
	<div class="title-container">stubbble</div>
	<div class="arrow-container"></div>
	<div class="menu-container" ng-show="user.id">
		<div class="menubtn home" ng-click="home()"></div>
		<div class="menubtn feeds"></div>
		<div class="menubtn friends"></div>
	</div>
	<div class="login-container" ng-show="!user.id">
		<div class="username">
			<div class="icon"></div>
			<div>
				<input type="text" ng-model="username" />
			</div>
		</div>
		<div class="password">
			<div class="icon"></div>
			<div>
				<input type="password" ng-model="password" />
			</div>
		</div>
		<div class="login-button" ng-click="login()">
			<div class="icon"></div>
		</div>
	</div>
	<div class="signup" ng-show="!user.id"></div>
	<div class="logout" ng-show="user.id" ng-click="logout()"></div>
	<div style="clear:both;"></div>
</div>
<div ng-view></div>
