@font-face {
	font-family: 'Yesteryear';
	src: local('Yesteryear Regular'), local('Yesteryear'), url('fonts/Yesteryear-Regular.ttf') format('truetype');
}
body {
	background-image:url('../img/black_lozenge.png');
	padding:0px;
	margin:0px;
	width:100%;
}
.top-bar {
	display:inline-block;
	width:100%;
	background-color:#3399cc;
	height:2.8em;
}
.top-bar div {
	height:100%;
	float:left;
}
.title-container {
	background-color:#333333;
	font-size:2.2em;
	padding:0px 15px 0px 15px;
	color:#fff;
	font-family: 'Yesteryear', Helvetica-Light, Helvetica, Arial, sans-serif;
}
.arrow-container {
	width:1em;
	background-image:url('../img/menu-triangle.png');
	background-repeat:no-repeat;
    background-position:center left;
}
.login-container .username, .login-container .password {
	height:2.1em;
	margin:6px 10px 0px 0px;
	background-color:#333;
	border-radius:1px;
}
.username .icon {
	width:2em;
	margin-left:6px;
	background-image:url('../img/icon-user.png');
	background-repeat:no-repeat;
    background-position:center left;
}
.password .icon {
	width:2em;
	margin-left:6px;
	background-image:url('../img/icon-lock.png');
	background-repeat:no-repeat;
    background-position:center left;
}
.login-container input {
	margin-left:2px;
	height:2.1em;
	background:transparent;
	border:none;
	font-size:1em;
	color:#fff;
	font-family:'Helvetica-Light', 'Helvetica';
}
.login-button, .top-bar .signup, .logout {
	width:1.6em;
	height:2.1em;
	cursor:pointer;
	background-repeat:no-repeat;
    background-position:center center;
}
.login-button {
	margin-top:1px;
	background-image:url('../img/icon-login_.png');
}
.top-bar .signup, .top-bar .logout {
	float:right;
	margin-right:5px;
}
.top-bar .signup {
	margin-top:6px;
	background-image:url('../img/icon-signup.png');
}
.top-bar .logout {
	background-image:url('../img/icon-logout.png');
}
/*
.menu-container > div {
	width:2.5em;
	height:2.1em;
	background-color:Red;
	#cursor:pointer;
	#background-repeat:no-repeat;
    #background-position:center center;
}*/
.menubtn {
	width:2.5em;
	height:2.1em;
	cursor:pointer;
	background-repeat:no-repeat;
    background-position:center center;
    margin:0px 20px 0px 6px;
}
.home {
	background-image:url('../img/icon-home.png');
}
.feeds {
	background-image:url('../img/icon-broadcast.png');
}
.friends {
	background-image:url('../img/icon-friends.png');
}

.content .bio {
	display:inline-block;
	width:25%;
	min-width:18em;
	margin-top:4px;
	text-align: center;
	float:left;
}
.content .bio>.photo {
	width:100%;
	height:11em;
	background-image:url('../img/joel.png');
	background-repeat:no-repeat;
    background-position:center center;
}
.content .bio span.name {
	margin-top:50px;
	font-size:1.2em;
	padding:0px 15px 0px 15px;
	color:#fff;
	font-family: Verdana, Helvetica-Light, Helvetica, Arial, sans-serif;
}
.content .bio .create-post {
	background-color:#ccc;
	width:90%;
	padding-top:1px;
	margin-top:10px;
	margin-left:5%;
	margin-right:5%;
	#height:18em;
	border-radius:1px;
}
.content .bio .create-post .text-holder {
	margin-top:8px;
	width:96%;
	margin-left:2%;
	background-color:#fff;
	border-radius:1px;
	background-image:url('../img/postsomething.png');
	background-repeat:no-repeat;
    background-position:center center;
}
.content .bio .create-post .text-holder.empty {
	background-image:none;
}
.content .bio .create-post .text-holder textarea {
	width:100%;
	height:100%;
	min-height:20em;
	background:transparent;
	border:none;
}
.content .bio .create-post .menu {
	width:70%;
	display:inline-block;
	text-align:left;
}
.content .bio .create-post .btn {
	display:inline-block;
	margin:6px 3% 0px 3%;
	height:2.5em;
	width:2.5em;
	background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
}
.content .bio .create-post .menu .photo {
	background-image:url('../img/icon-camera.png');
}
.content .bio .create-post .menu .attachment {
	background-image:url('../img/icon-paperclip.png');
}
.content .bio .create-post .menu .event {
	background-image:url('../img/icon-calendar.png');
	margin-right:6%;
}
.content .bio .create-post .send {
	background-image:url('../img/icon-airplane.png');
	margin-left:6%;
}

.content .userposts {
	float:left;
	width:70%;
}
.content .userposts ul {
	list-style:none;
	display:inline-block;
}
.content .userposts .post {
	background-color:#ccc;
	margin:5px;
	display:inline-block;
	max-width:75%;
	font-family: Verdana, Helvetica-Light, Helvetica;
}
